body {
    background: black;
    color: orange;
    bottom: 0%;
}

button,
div,
form,
input {
margin: 1%;
font-size: 30px;
text-align: center;
}

.row {
    margin-left: 0%!important;
    margin-right: 0%!important;
}

.topRow,
.btmRow {
    margin: 0%;
}

.imgBox {
    overflow-y: auto;
    height: 425px;
    background-color: grey;
}

.searchImg {
    height: 350px;
    width: auto;
}

