body {
    background: black;
    color: orange;
    bottom: 0%;
}

button,
div,
form,
input {
margin: 1%;
font-size: 30px;
}

.row {
    margin-left: 0%!important;
    margin-right: 0%!important;
}

h1 {
    font-size: 50px;
    margin-bottom: 3%;
}

#images-appear-here {
    width: 80%;
    text-align: center;
    align-content: center;
    margin-left: 8%;
}

.imgBox {
    overflow-y: auto;
    height: 400px;
}

